{% extends "base.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Номер заказа</th>
      <th scope="col">Цена USD</th>
      <th scope="col">Цена RUB</th>
      <th scope="col">Дата поставки</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr>
        <th scope="row">{{ order.id }}</th>
        <td>{{ order.usd_price }}</td>
        <td>{{ order.rub_price }}</td>
        <td>{{ order.delivery_date }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}